In [81]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [82]:

def calculate_oscilloscope_uncertainty(najpod, u_b = 0):
    return np.sqrt((najpod**2 + u_b**2) /3) 

def calculate_analog_meter_uncertainties(klasa, zakres, najpod=0, u_be=0):
    return np.sqrt(((klasa*zakres)**2 + najpod**2 + u_be**2)/3)

def calculate_sole_b_uncertainty(series, u_b, u_be=0):
    return np.sqrt(series/series*((u_b**2)/3 + (u_be**2)/3)) #returns a number

def calculate_digital_meter_deltas(series, klasa, dgt):
    delta_x = klasa * series + dgt
    return series/series * delta_x
    
def calculate_digital_meter_uncertainties(series, klasa, dgt):
    return calculate_digital_meter_deltas(series,klasa,dgt)/np.sqrt(3)

In [83]:
R_1 = 10000 #ohm
R_2 = 1000000
C_1 = 470000 #pF


T_df = pd.DataFrame({
"T": [
    27.8,
    33.3,
    35.0,
    40.0,
    45.2,
    46.9,
    48.0,
    49.0,
    49.2,
    49.4,
    49.6,
    49.8,
    50.0,
    55.0,
    60.0,
    65.0,
    70.0
]
})
T_df["T"] += 273.2
# T_df["u"] = calculate_digital_meter_uncertainties(T_df["T"], 0.01, 0.1)
T_df["u"] = calculate_sole_b_uncertainty(T_df["T"],1)
T_df.to_csv("csv/T.csv", index= False)
T_df

        T        u
0   301.0  0.57735
1   306.5  0.57735
2   308.2  0.57735
3   313.2  0.57735
4   318.4  0.57735
5   320.1  0.57735
6   321.2  0.57735
7   322.2  0.57735
8   322.4  0.57735
9   322.6  0.57735
10  322.8  0.57735
11  323.0  0.57735
12  323.2  0.57735
13  328.2  0.57735
14  333.2  0.57735
15  338.2  0.57735
16  343.2  0.57735

In [84]:

C_df = pd.DataFrame({
"C": [#in pF
    19,
    20,
    21,
    22,
    40,
    55,
    60,
    69,
    70,
    70,
    65,
    65,
    65,
    42,
    32,
    28,
    25,
]
})
C_df["zak"] = [100 for i in range(len(C_df["C"]))]
C_df["najpod"] = [5 for i in range(len(C_df["C"]))]

#convert to F
C_df["C"] *=1e-12
C_df["zak"] *=1e-12
C_df["najpod"] *=1e-12

C_df_klasa = 0.03 #klasa 3%?
C_df["u"] = calculate_analog_meter_uncertainties(C_df_klasa, C_df["zak"], C_df["najpod"])
C_df.to_csv("csv/C.csv", index = False)
C_df

               C           zak        najpod             u
0   1.900000e-11  1.000000e-10  5.000000e-12  3.366502e-12
1   2.000000e-11  1.000000e-10  5.000000e-12  3.366502e-12
2   2.100000e-11  1.000000e-10  5.000000e-12  3.366502e-12
3   2.200000e-11  1.000000e-10  5.000000e-12  3.366502e-12
4   4.000000e-11  1.000000e-10  5.000000e-12  3.366502e-12
5   5.500000e-11  1.000000e-10  5.000000e-12  3.366502e-12
6   6.000000e-11  1.000000e-10  5.000000e-12  3.366502e-12
7   6.900000e-11  1.000000e-10  5.000000e-12  3.366502e-12
8   7.000000e-11  1.000000e-10  5.000000e-12  3.366502e-12
9   7.000000e-11  1.000000e-10  5.000000e-12  3.366502e-12
10  6.500000e-11  1.000000e-10  5.000000e-12  3.366502e-12
11  6.500000e-11  1.000000e-10  5.000000e-12  3.366502e-12
12  6.500000e-11  1.000000e-10  5.000000e-12  3.366502e-12
13  4.200000e-11  1.000000e-10  5.000000e-12  3.366502e-12
14  3.200000e-11  1.000000e-10  5.000000e-12  3.366502e-12
15  2.800000e-11  1.000000e-10  5.000000e-12  3.366502e-12
16  2.500000e-11  1.000000e-10  5.000000e-12  3.366502e-12

In [85]:


Uc_df = pd.DataFrame({
"Uc": [
    3.5,#zak 0.5V
    3.4,
    3.4,
    3.3,
    3.0,
    2.8,
    2.6,
    2.1,
    1.9,
    1.8,
    1.6,
    1.6,
    1.4,#zak. 0.2
    0.4,
    0.2,
    0.1,
    0.0,
],
"pod": [
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.5,
    0.2,
    0.2,
    0.2,
    0.2,
    0.2,
],
})
Uc_df["najpod"] = Uc_df["pod"]/5
Uc_df["u"] = calculate_oscilloscope_uncertainty(Uc_df["najpod"], u_b = Uc_df["najpod"])
Uc_df = Uc_df[0:-4]
Uc_df.to_csv("csv/Uc.csv", index = False)
Uc_df

     Uc  pod  najpod        u
0   3.5  0.5    0.10  0.08165
1   3.4  0.5    0.10  0.08165
2   3.4  0.5    0.10  0.08165
3   3.3  0.5    0.10  0.08165
4   3.0  0.5    0.10  0.08165
5   2.8  0.5    0.10  0.08165
6   2.6  0.5    0.10  0.08165
7   2.1  0.5    0.10  0.08165
8   1.9  0.5    0.10  0.08165
9   1.8  0.5    0.10  0.08165
10  1.6  0.5    0.10  0.08165
11  1.6  0.5    0.10  0.08165
12  1.4  0.2    0.04  0.03266

In [86]:


Uy_df = pd.DataFrame({
"Uy": [
    0.44,#zak 0.1V
    0.44,
    0.46,
    0.48,
    0.42,
    0.36,
    0.30,#zak 50mV
    0.21,
    0.19,
    0.18,
    0.17,#zak 20mV
    0.15,
    0.13,
    0.06,
    0.01,
    0.005,
    0.0,
],
"pod": [
    0.1,
    0.1,
    0.1,
    0.1,
    0.1,
    0.1,
    0.05,
    0.05,
    0.05,
    0.05,
    0.02,
    0.02,
    0.02,
    0.02,
    0.02,
    0.02,
    0.02,
]
})
Uy_df["najpod"] = Uy_df["pod"]/5
Uy_df["u"] = calculate_oscilloscope_uncertainty(Uy_df["najpod"], u_b=Uy_df["najpod"])
Uy_df = Uy_df[0:-4]
Uy_df.to_csv("csv/Uy.csv", index=False)
Uy_df

      Uy   pod  najpod         u
0   0.44  0.10   0.020  0.016330
1   0.44  0.10   0.020  0.016330
2   0.46  0.10   0.020  0.016330
3   0.48  0.10   0.020  0.016330
4   0.42  0.10   0.020  0.016330
5   0.36  0.10   0.020  0.016330
6   0.30  0.05   0.010  0.008165
7   0.21  0.05   0.010  0.008165
8   0.19  0.05   0.010  0.008165
9   0.18  0.05   0.010  0.008165
10  0.17  0.02   0.004  0.003266
11  0.15  0.02   0.004  0.003266
12  0.13  0.02   0.004  0.003266

In [87]:
C1 = 470e-9 #F
A = 2.0e-5 #m^2
d = 0.8e-3 #m

P_df = pd.DataFrame()
P_df["P"] = Uy_df["Uy"]*C1/A
P_df["u"] = np.sqrt((C1**2 / A**2) * Uy_df["u"]**2)
P_df.to_csv("csv/P.csv", index=False)
P_df

           P         u
0   0.010340  0.000384
1   0.010340  0.000384
2   0.010810  0.000384
3   0.011280  0.000384
4   0.009870  0.000384
5   0.008460  0.000384
6   0.007050  0.000192
7   0.004935  0.000192
8   0.004465  0.000192
9   0.004230  0.000192
10  0.003995  0.000077
11  0.003525  0.000077
12  0.003055  0.000077

In [88]:

Ec_df = pd.DataFrame()
Ec_df["Ec"] = Uc_df["Uc"]/d
Ec_df["u"] = np.sqrt(1/(d**2) * Uc_df["u"]**2)
Ec_df.to_csv("csv/Ec.csv", index=False)
Ec_df

        Ec           u
0   4375.0  102.062073
1   4250.0  102.062073
2   4250.0  102.062073
3   4125.0  102.062073
4   3750.0  102.062073
5   3500.0  102.062073
6   3250.0  102.062073
7   2625.0  102.062073
8   2375.0  102.062073
9   2250.0  102.062073
10  2000.0  102.062073
11  2000.0  102.062073
12  1750.0   40.824829

In [89]:
epsilon_0 = 8.85e-12 #F⋅m−1

eps_df = pd.DataFrame()

eps_df["eps"] = C_df["C"]*d/(epsilon_0*A)
eps_df["u"] = np.sqrt((d**2/(epsilon_0**2*A**2))*C_df["u"]**2)
eps_df.to_csv("csv/eps.csv", index=False)
eps_df

           eps          u
0    85.875706  15.215827
1    90.395480  15.215827
2    94.915254  15.215827
3    99.435028  15.215827
4   180.790960  15.215827
5   248.587571  15.215827
6   271.186441  15.215827
7   311.864407  15.215827
8   316.384181  15.215827
9   316.384181  15.215827
10  293.785311  15.215827
11  293.785311  15.215827
12  293.785311  15.215827
13  189.830508  15.215827
14  144.632768  15.215827
15  126.553672  15.215827
16  112.994350  15.215827

In [90]:
chi_df = pd.DataFrame()
chi_df["chi"] = eps_df["eps"] - 1
chi_df["u"] = eps_df["u"]
chi_df.to_csv("csv/chi.csv", index=False)
chi_df

           chi          u
0    84.875706  15.215827
1    89.395480  15.215827
2    93.915254  15.215827
3    98.435028  15.215827
4   179.790960  15.215827
5   247.587571  15.215827
6   270.186441  15.215827
7   310.864407  15.215827
8   315.384181  15.215827
9   315.384181  15.215827
10  292.785311  15.215827
11  292.785311  15.215827
12  292.785311  15.215827
13  188.830508  15.215827
14  143.632768  15.215827
15  125.553672  15.215827
16  111.994350  15.215827

In [91]:
one_over_chi_df = pd.DataFrame()
one_over_chi_df["one_over_chi"] = 1/chi_df["chi"]
one_over_chi_df["u"] = np.sqrt((epsilon_0*A*d)**2/(C_df["C"]*d - epsilon_0*A)**4 * C_df["u"]**2)
one_over_chi_df.to_csv("csv/one_over_chi.csv", index=False)
one_over_chi_df

    one_over_chi         u
0       0.011782  0.002112
1       0.011186  0.001904
2       0.010648  0.001725
3       0.010159  0.001570
4       0.005562  0.000471
5       0.004039  0.000248
6       0.003701  0.000208
7       0.003217  0.000157
8       0.003171  0.000153
9       0.003171  0.000153
10      0.003415  0.000177
11      0.003415  0.000177
12      0.003415  0.000177
13      0.005296  0.000427
14      0.006962  0.000738
15      0.007965  0.000965
16      0.008929  0.001213